header,
main,
footer {
    padding: 20px;
    box-sizing: border-box;
    max-width: 800px; /* Set your desired max-width */
    margin: 0; /* Set margin to 0 for left alignment */
}

header img {
    max-width: 80px;
    height: auto;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    vertical-align: middle; /* Align the image vertically */
}

header h1 {
    margin: 0;
    color: rgb(4, 190, 35);
    display: inline-block;
    vertical-align: middle; /* Align the text vertically */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

#game-board {
    width: 400px;
    height: 400px;
    border: 2px solid rgb(4, 190, 35);
    position: relative;
    margin-bottom: 20px;
}

button {
    background-color: rgb(4, 190, 35);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    color: rgb(4, 190, 35);
    background-color: rgb(34, 34, 34); /* Add this line to set the background color of the footer */
    padding: 10px; /* Add padding to make it visually separated from the rest */
    text-align: center; /* Align the text center within the footer */
}

.snake,
.food {
    width: 20px;
    height: 20px;
    background-color: rgb(4, 190, 35);
    position: absolute;
}

#section2 {
    text-align: center; /* Center align the contents */
}

button {
    margin-bottom: 10px; /* Optional: Add margin below the button for spacing */
}

#score {
    margin-bottom: 10px; /* Optional: Add margin below the score for spacing */
    font-size: 20px;
    color: rgb(4, 190, 35);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

/* Weh👊Wago! */